{% extends "base.html" %}

{% block title %}Home - Email Classifier{% endblock %}

{% block content %}

<h1>Esse é o resultado da análise</h1>

<table id="tableResult" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Categoria</th>
            <th scope="col">Porcentagem</th>
            <th scope="col">Sugestão</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.nome }}</td>
            {% if item.sucesso %}
            <td>{{ item.categoria }}</td>
            <td>
                <span class="badge text-bg-primary rounded-pill">{{ item.porcentagem }}%</span>
            </td>

                <td>{{ item.sugestão }}</td>

            {% else %}
            <td>
                <p style="color: red;">Erro ao processar o arquivo: {{ item.error }}</p>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}